<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New User</title>
</head>
<body>

<h1>New User</h1>

<form th:method="post" th:action="@{/users}">
  <label for="name">Name:</label>
  <input type="text" th:field="*{user.name}" id="name"/>
  <br/>
  <label for="age">Age:</label>
  <input type="text" th:field="*{user.age}" id="age"/>
  <br/>
  <label for="email">Email:</label>
  <input type="text" th:field="*{user.email}" id="email"/>
  <br/>
  <input type="submit" value="Create"/>
</form>

</body>
</html>